#content{
  background-color: #FF934F;
  color: white;
}

.order-button{
  color: #FF934F;
  border: 1px solid #FF934F;
}

.button-white{
  color: white;
  border: 1px solid white;
}

.border-blue{
  border: 5px solid blue !important;
}

.border-red{
  border: 5px solid red !important;
}

.group-button{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.group-button button{
  margin: 16px 8px;
}

.spinner-gold ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #FF934F;
}

.tabs-gold ::ng-deep .mat-ink-bar {
  background-color: white;
}


.spinner-loading{
  display:flex; 
  align-items: center; 
  flex-direction: column; 
  margin: 50px;
}


.card-ranking mat-card-header{
  display: flex; 
  align-items: center;
  margin-top: -31.53px !important;
}


.summoner-card{
  border: 1px solid white;
  border-radius: 4px;
  margin: 0 auto;
  margin: 16px;
  padding: 8px;
  /* width: 500px; */
  display: flex;
  flex-direction: column;
  width: 80%;
}

.orange{
  color: #FF934F;
  border-color:#FF934F;
}

.blue{
  color: #68d6ff;
  border-color:#68d6ff;
}

.red{
  color: #ff0000;
  border-color:#ff0000;
}

.teste mat-form-field.mat-form-field{
  width: 30%;
}

.content-history{
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
}

.content-history div{
  width: 100%;
}

.content-history div mat-card{
  margin: 8px 0;
  box-shadow: none;
}



.content-history div mat-card mat-card-header{
  display: flex; 
  align-items: center;
}

.background-bar{
  background-color: #FF934F;
  color: white;
}

.card-ranking{
  margin: 16px;
  border: 4px solid #FF934F;
  background-color: #5E565A;
  color: #FF934F;
  width: 80%;
}

.card-history{
  margin: 16px;
  border: 4px solid #FF934F;
  background-color: #5E565A;
}

.logo{
  width: 70px;
  height : 70px;
  border: 4px solid #FF934F;
}

.text-content{
  color: white;
}


.logo-champion{
  width: 50px;
  height : 50px;
  border: 4px solid #FF934F;
}

.classification {
  background-color: #fff;
  border-radius: 50%;
  padding: 2px;
}

.gold{
  color: #D6AF36;
}

.silver{
  color: #A7A7AD;
}

.bronze{
  color: #824A02;
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) 
{
  .content-history div{
    width: 50%;
  }

  .content-history div mat-card{
    margin: 8px 0;
    margin-right: 8px;
    box-shadow: none;
  }

  .card-history , .card-ranking{
    width: 500px;
  }

  .summoner-card{
    display:block;
    width: auto;
  }
  
}