#content{
  background-color: black;
  color: white;
}

.gold{
  color: #e2b14b;
}

.spinner-gold ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #e2b14b;
}

.tabs-gold ::ng-deep .mat-ink-bar {
  background-color: #e2b14b;
}


.spinner-loading{
  display:flex; 
  align-items: center; 
  flex-direction: column; 
  margin: 50px;
}

.card-ranking{
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 500px;
  border: 2px solid #e2b14b;
}

.card-ranking mat-card-header{
  display: flex; 
  align-items: center;
  margin-top: -31.53px !important;
}

.card-history{
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 500px;
  border: 2px solid #e2b14b;
}


.summoner-card{
  border:1px solid white;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  width: 500px;
}

.blue{
  color: #68d6ff;
  border-color:#68d6ff;
}

.red{
  color: #ff0000;
  border-color:#ff0000;
}

.teste mat-form-field.mat-form-field{
  width: 30%;
}

.content-history{
  display: flex;
}

.content-history div{
  width: 50%;
}

.content-history div mat-card{
  margin: 8px;
  box-shadow: none;
}

.content-history div mat-card mat-card-header{
  display: flex; 
  align-items: center;
}


.logo{
  width: 70px;
  height : 70px;
  border: 2px solid #e2b14b;
}

.logo-champion{
  width: 50px;
  height : 50px;
  border: 2px solid #e2b14b;
}
